{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "off",
    "brace-style": [
      "error",
      "allman"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "no-unused-vars": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-duplicates": [
      "error"
    ],
    "import/no-unused-modules": [
      1,
      {
        "unusedExports": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "runtime/flutter/material/icons/*.ts",
        "examples/**/*.ts"
      ],
      "rules": {
        "import/no-unused-modules": false,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-use-before-define":0,
        "@typescript-eslint/class-name-casing":0
      }
    },
    {
      "files": [
        "runtime/**/*.ts"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0
      }
    }
  ]
}