{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "off",
    "brace-style": [
      "error",
      "allman"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "no-unused-vars": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-duplicates": [
      "error"
    ],
    "import/no-unused-modules": [
      1,
      {
        "unusedExports": true
      }
    ],
    "jsdoc/require-jsdoc": 1,
    "jsdoc/require-param-description": 1,
  }
}