# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

node_modules
luac.lua
luac.5.3.5
examples/**/*.lua
assets/examples/*.hc
assets/test/widget/*.hc
assets/test/hot/*.hc
assets/test/hot/stateful/*.hc
assets/test/unit/dart/async/*.hc
assets/test/unit/dart/collection/*.hc
assets/test/unit/dart/core/*.hc
assets/test/unit/dart/ui/*.hc
assets/test/unit/flutter/foundation/*.hc
assets/test/unit/ts/*.hc
assets/test/co19/core/*.hc
*.symbols
hydro_sdk/android/.project
*.js
.hydroc
.swid
*.sha256
!test/hot/**/*.sha256
!dist/compiler/**/*.js
!dist/*.sha256
dist/**/*.ts
haxe-4.0.5
!jest.config.js
samples.json
sdk-tools/lua52/src/*.o
sdk-tools/lua52/src/*.a
sdk-tools/lua52/src/lua
sdk-tools/lua52/src/lua.exe
sdk-tools/lua52/src/lua.dll
sdk-tools/lua52/src/luac
sdk-tools/lua52/src/luac.exe

#Typedoc 
!docs/assets/js/main.js
!docs/assets/js/search.js

key.pem