# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

node_modules
luac.lua
luac.5.3.5
examples/**/*.lua
assets/examples/*.hc
assets/test/widget/*.hc
assets/test/hot/*.hc
assets/test/hot/stateful/*.hc
hydro_sdk/android/.project
*.js
.hydroc
*.sha256
!test/hot/**/*.sha256
!dist/compiler/**/*.js
!dist/*.sha256
dist/**/*.ts
haxe-4.0.5
lib/hc.g.dart
!jest.config.js